*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;                                         
}

a {
    text-decoration: none;
}

/* ----- Navbar level 1 ----- */

.nav-level1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    background-color: rgb(231, 231, 233);
}

.nav-level1-ul {
    display: flex;
}

.nav-level1-ul>li {
    padding: 0.5rem 1rem;
}


/* ----- Navbar level 2 ----- */

.nav-level2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.nav-level2-ul {
    display: flex;
}

.nav-level2-ul>li {
    padding: 0.5rem 1rem;
}

.nav-level2-logo {
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid blue; */
    align-items: center;
}

.resize-one {
    width: 95px;
    height: auto;
    margin: 2rem 1rem;
}

.resize-two {
    width: 40px;
    height: auto;
}

.breaking-news {
    background-color: #fecb32;
    padding: 0.5rem 1rem;
}

/* --------------- Nav bar Fixed ------------- */
nav {
    width: 100%;
    position: sticky;
    top: 0px;

}

nav a, nav {
    font-size: 1.1em;
    color: #504d50;
}

nav a:hover {
    text-decoration: underline;
}

.breaking-news {
    position: sticky;
    top: 7.9rem;
}

/* ----------------- Header part ----------- */

.grid {
    border: 2px solid #22e9a6;
}

.grid-cover {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.header-img{
    width: 100%;
}

.item1 {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
}
.item2 {
    grid-column: 5 / 7;
    grid-row: 1 / 3;
}
.item3 {
    grid-column: 7 / 9;
    grid-row: 1 / 3;
}
.item4 {
    grid-column: 1 / 5;
    grid-row: 4 / 6;
}
.item5 {
    grid-column: 5 / 9;
    grid-row: 3 / 6;
}

/* ---------------- Most popular stories today ------------- */

.news-today h2 {
    margin: 2rem 0;
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
}

.news-today-cover {
    display: flex;
    justify-content: space-evenly;
    margin: 0 2rem;
}

.news-today-cover li {
    padding: 0 1rem;
}

.news-today-cover li h4 {
    font-size: 1rem;
    color: #1d1a1d;
    margin-top: 1rem;
}

.news-today-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 0px 0px 0px 100px;
    /* border-bottom-left-radius: 150px; */
}


/* ------------------- Latest news ----------------- */

.latest-new  {
    margin: 4rem;
}

.latest-new h1 {
    font-size: 2.5rem;
    padding: 1.5rem;
}

.latest-new-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.latest-new-item li {
    width: 25%;
    padding: 1.5rem;
}

.latest-new-item a {
    color: #1d1a1d;
}

.latest-new-item li img {
    width: 100%;
}

.see-all-new {
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
}

.see-all-new a {
    background-color: #8b28ee ;
    padding: 1.2rem 2rem;
    color: #fff;
    font-size: 1rem;
    border-radius: 40px;
}

/* -------------------- Newsletter --------------------- */

.newsletter {
    background-color: #6142e9;
    color: #ffff;
    text-align: center;
    font-size: 1rem;
    padding: 2rem 0;
}

.newsletter * {
    padding: 0.2rem 0;
}

.newsletter h2 {
   font-size: 3rem;
}

.newsletter i {
    color: #ddd7d7;
}

.newsletter-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.newsletter-icons li {
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.newsletter-input {
   padding: 0.7rem 12rem;
   border-radius: 5px;
   border-style: none;
   background-color: #9d5dd9;
}

/* -----------  3 Mode --------------- */

.main-all-news-text {
    border-top: 2px solid #aaa8aa;
    font-size: 1.1rem;
    padding: 2rem 0;
    
}

.all-new-cover {
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: 1fr 1fr;
}

.all-new-cover img {
    width: 100%;
}

.main-all-news {
    margin: 4rem;
    border-bottom: 2px solid #aaa8aa;
    border-top: 2px solid #aaa8aa;
}

.side-box > * {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 1.2rem;
    align-items: center;
    margin: 2rem;
}

.side-box img {
    width: 70%;
    margin: 0 3.5rem 0;
}

.side-box h5 {
    font-size: 0.9rem;
    margin-left: 1rem;
}


/* -----------  Youtube --------------- */
.youtube {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.youtube div {
    margin: 1rem auto;
}

/* ------------------------ Work with us -------------------- */

.work-with-us {
    display: flex;
    align-items: center;
    margin: 2rem 4rem;
}

.work-with-us-item {
    width: 50%;
}

.work-with-us-one {
    padding: 0 3rem;
}

.work-with-us-one h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.work-with-us-one p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn-get-in-touch {
    border-radius: 0.3rem;
    font-size: 1.2rem;
    color: #fff;
    padding: 1rem;
    background-color: #793bd6;
}

.work-with-us-list {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem 2rem;
}

.work-with-us-list > * {
    display: flex;
    align-items: center;
    margin: 2rem;
    width: 8rem;
    height: 5rem;
}

.work-with-us-list >* h4 {
    font-size: 1.3rem;
    margin-left: 1.5rem;
}

/* ---------------- Company Icons --------------------- */

.company-icons-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 4rem;
}

.company-icons {
    width: 7rem;
    height: auto;
}

/* -------------------------- Footer --------------- */

footer * {
    background-color: #1d1a1d;
    color: #fff;
    padding: 0.2rem 0;
}

.first-footer {
    border-bottom: 1px solid #44bbdf;
}

/* ---------------------------First Footer -------------- */

.first-footer-cover {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 5rem;
}

.resize-footer-logo {
    width: 7rem;
    height: auto;
    margin: 0rem ;
}

.after-footer-logo {
    font-size: 1.1rem;
    padding: 0.5rem ;
}

.footer-icons {
    display: flex;
}

.footer-icons > li > a {
    font-size: 0.8rem;
    margin-right: 1rem;
    color: #8a9090;
}

.footer-color-list * {
    color: #8de6f0;
}

/* ----------------------Last Footer ------------------ */

.last-footer {
    text-align: center;
    padding: 4rem;
}

.last-footer>a {
    color: #fff;
    font-weight: bold;
}

.last-footer>p {
    color: #e6e2e2;
}


/* --------------------------------------------- */

@media (min-width: 280x) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}