@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');


*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px; 
}

body{
    background-color:#f0eee4
}

.left, .education {
    padding: 3rem;
    line-height: 2;
}

.experience{
    padding: 3rem;
    margin-top: 0px;
    line-height: 2;
}

ul{
    list-style: none;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    filter: drop-shadow(0 0 0.4rem #E7F2F8);
}
.skills {
    margin: 1rem;
    text-align: center;
}


header {
    margin: 1rem;
    display: grid;
    grid-template-columns:1fr ;
    align-items: center;
}

.pointer {cursor: pointer;}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 1rem;
    width: 25%;
}

.left{
    text-align: end;
}

.occupation ,.text{
    text-align: center;
  
}

.text{
    font-size: 3.1vw;
    color: 
    #ec7852;
    letter-spacing: 5px;
}

h1 {
    color: #358393;
}

li {
    color:#428e9d;
}
.occupation{
    font-size: 2.1vw;
    color:#428e9d;
}

.info, .languages {
    padding: 0rem;
    line-height: 2; 
}

.certifications {
    margin-top: 2rem;
}

.education >li,
.experience >li {
    padding: 2rem;
}

.footer{
    background-color: #e2d37b;
    padding: 1rem 0;
    margin: 2rem;
    text-align: center;
    line-height: 1.5;
}

p, .footer i{
    color: #358393;
}

.skills{
    color: #358393;
    font-size: 2vw;
}

i{
    color: #FFA384;
}

hr {
    border: 2px dashed #e2d37b
}

.skills li{
    color: #FFf;
    background-color: #FFA384;
    background-size: 10%;
    padding: 1rem ;
    margin: 2rem;
    font-size: 2.1vw;
    border-radius: 3px;
    display: inline;
    margin-inline: 10px;
}

