@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: block;
    margin: 5rem auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    margin: 3rem 2rem;
    list-style-type: none
}

